/*
img { 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; 
  background:#eee;
  padding:.15em;
  height:50%;
}
*/

img.logo {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

* {
  font-family: Arial !important,sans-serif;
}

th {
  font-size: 30px;
}

td {
  font-size: 30px;
  border: #cccccc solid 1px;
}

/*tt {*/
    /*background-color: #F8F8F8;*/
    /*border: 1px solid #DEDEDE;*/
    /*border-radius: 3px 3px 3px 3px;*/
    /*font-size: 13px;*/
    /*padding: 0;*/
/*}*/

pre {
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font: 18px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace !important;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

pre code {
    /*font: 20px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace !important;*/
    /*background-color: #F8F8F8;*/
    border: 0px;
    border-radius: 0px;
    font: 19px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace !important;
    /*padding: 0px;*/
}

code {
    /*font-family: Monospace !important;*/
    /*font-size: 22px !important;*/
    font: 23px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace !important;
    background-color: #F8F8F8;
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    padding: 0px;
}

h1 {
  color: #16325A !important;
  font-size: 45px !important;
  padding-bottom: 15px; 
}

h2, h3 {
  color: #16325A !important;
  font-size: 30px !important;
  padding-bottom: 10px;
  padding-top: 10px;
}

li {
  font-size: 30px;
  padding: 2px;
}

p {
  font-size: 30px;
}


a, a:hover, a:visited {
  color: #546c92 !important;
}


